<!DOCTYPE html>
<html>
<head>
  <title>Formulir Kontak</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <h2>Contact Form</h2>
        <form action="proses-kontak.php" method="post">
            <label for="nama">Nama:</label><br>
            <input type="text" id="nama" name="nama" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="notelpon">NoTelpon:</label><br>
            <textarea id="notelpon" name="notelpon" required></textarea><br><br>

            <input type="submit" value="Kirim">
     </form>

    </div>
  
</body>
</html>